.heading-1 {
  font-size: 64px;
  font-weight: 500;
  color: $color-white;
}

.heading-2 {
  font-size: 24px;
  font-weight: 500;
  color: $color-white;
}

.btnRounded {
  border: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 214px;
  height: 70px;
  border-radius: 70px;
  background-color: $color-white;
  color: $color-voodoo-1;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  &:active {
    transform: translateY(1px);
  }
  &:hover {
    background-color: $color-voodoo-1;
    color: $color-white;
  }
  &[disabled] {
    background-color: $color-gray-4;
    color: $color-white;
    opacity: .5;
  }
}

.btnSelectAndPlay {
  position: relative;
  border: none;
  appearance: none;
  width: 100%;
  height: 73px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  background-color: $color-gray-3;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    background-color: $color-gray-4;
    .btnSelectAndPlay__demo {
      display: block;
    }
  }
  &.is-selected {
    background-color: $color-voodoo-1;
    color: $color-white;
    .btnSelectAndPlay__demo {
      border: 1px solid $color-white;
    }
  }
  &__demo {
    display: none;
    position: relative;
    content: '';
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: $color-voodoo-1;
    &:before {
      position: absolute;
      content: '';
      width: 15px;
      height: 14px;
      margin-left: 2px;
      background-image: url("./media/image/icon_play.svg");
      background-size: contain;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
    }
    &.is-play {
      display: block;
      &:before {
        background-image: url("./media/image/icon_pause.svg");
        margin-left: 1px;
      }
    }
  }
}

.btnOutlined {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 44px;
  background-color: transparent;
  border: 1px solid $color-gray-6;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  color: $color-white;
  cursor: pointer;
  &:hover {
    background-color: $color-gray-4;
  }
}

.checkBoxOneline {
  display: flex;
  align-items: center;
  cursor: pointer;
  input {
    display: none;
    &:checked + p {
      &:before {
        background-color: $color-voodoo-1;
      }
      &:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 5px;
        width: 10px;
        height: 4.5px;
        border-left: 2px solid $color-white;
        border-bottom: 2px solid $color-white;
        transform: rotate(-45deg);
      }
    }
  }
  p {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $color-gray-11;
    &:before {
      content: '';
      display: block;
      width: 23px;
      height: 23px;
      background-color: $color-gray-4;
      border-radius: 3px;
      margin: 0 15px 0 0;
    }
  }
}

//#canvas_wrap {
//  position: relative;
//  width: 640px;
//  height: 480px;
//  margin: 0 auto;
//  video {
//    display: none;
//    width: 640px;
//    height: 480px;
//    margin: 0 auto;
//  }
//  canvas {
//    position: relative;
//    width: 640px;
//    height: 480px;
//    margin: 0 auto;
//  }
//}
//#base_canvas, #play_canvas {
//  display: none;
//}
//#no_rec {
//  max-width: 640px;
//  max-height: 480px;
//  height: 480px;
//  width: 640px;
//}
//#effect_canvas {
//  position: absolute!important;
//  top: 0;
//  left: 50%;
//  transform: translateX(-50%);
//  z-index: 10;
//}
//#three_area {
//  position: absolute;
//  top: 0;
//  left: 50%;
//  transform: translateX(-50%);
//}
