$color-gray-1: #212121;
$color-gray-2: #343434;
$color-gray-3: #3C3C3C;
$color-gray-4: #4B4B4B;
$color-gray-5: #898989;
$color-gray-6: #C1C1C1;
$color-gray-7: #CECECE;
$color-gray-8: #7E7E7E;
$color-gray-9: #B7B7B7;
$color-gray-10: #505050;
$color-gray-11: #C3C3C3;
$color-white: #FFFFFF;
$color-black: #4f4f4f;
$color-voodoo-1: #5800FF;
$color-blue-1: #2081e3;
